<div class="two_thirds">
  <div class="pushed_content">
    <h1>
      about
      <% if user_signed_in? %>
        <%= link_to "New Bio", new_bio_path, class: "pseudo_button" %>
      <% end %>
    </h1>
    <br>

    <div class="pseudo_li">
      <p><span>BLACKBIRD</span> was formed in early 2009 when Steve Redig and son, Gabriel, joined with bassist Ole Bentz and drummer Steve Vallee with the common goal of playing some of rock's best classics.</p> 

      <p>Knowing that the band's appreciation for the Beatles' catalog of songs was shared by so many, they focused on a Beatles heavy song list that would allow the band to play a full 3 hours of live Beatles if requested.</p>

      <p>Over time, the song list expanded to include many non-Beatles songs that reflected the tastes of the band members as well as the requests of clients who hired them.</p>

      <p>In 2013, Steve Vallee departed the band to dedicate more time to other areas in life, and a former bandmate of Steve Redig&mdash;Curtis Cooper&mdash;took over as the full-time drummer for the band. </p>

      <p>In 2018, Curtis stepped away from Blackbird as the full-time drummer and Steve V. took back over the reins.</p> 

      <p>After playing together for so long, all members of Blackbird enjoy sharing a stage with each other and it shows.</p>
    </div>

    <% @bios.each do |bio| %>
      <div class="pseudo_li">
        <h2>
          <%= bio.name.downcase %> <span class="instruments">(<%= bio.instruments %>)</span>
          <% if user_signed_in? %>
            <%= link_to edit_bio_path(bio) do %>
              <%= icon('edit', '', class: "pos_fr strong") %>
            <% end %>
          <% end %>
        </h2> 

        <% if bio.bio_image.present? %>
          <%= image_tag bio.bio_image.full.url, class: "pos_fr bio_image" %>
        <% end %>
        <p>
          <%= bio.summary.html_safe %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/right_third" %>