<div class="two_thirds">
  <div class="pushed_content">
    <h1>bios</h2>

    <% if user_signed_in? %>
      <%= link_to "New Bio", new_bio_path %>
    <% end %>
    <br>

    <% @bios.each do |bio| %>
      <h2><%= bio.name %> <span>(<%= bio.instruments %>)</span></h2> 
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_bio_path(bio) %>
      <% end %>

      <br>
      <% if bio.bio_image.present? %>
        <%= image_tag bio.bio_image.thumb.url, class: "pos_fr" %>
      <% end %>
      <p>
        <%= bio.summary %>
      </p>
      
    <% end %>
  </div>
</div>
<%= render partial: "layouts/right_third" %>