<div class="two_thirds">
  <div class="pushed_content">
    <h1>
      bios
      <% if user_signed_in? %>
        <%= link_to "New Bio", new_bio_path, class: "pseudo_button" %>
      <% end %>
    </h1>
    <br>

    <% @bios.each do |bio| %>
      <div class="pseudo_li">
        <h2>
          <%= bio.name %> <span>(<%= bio.instruments %>)</span>
          <% if user_signed_in? %>
            <%= link_to edit_bio_path(bio) do %>
              <%= icon('edit', '', class: "pos_fr strong") %>
            <% end %>
          <% end %>
        </h2> 

        <% if bio.bio_image.present? %>
          <%= image_tag bio.bio_image.full.url, class: "pos_fr bio_image" %>
        <% end %>
        <p>
          <%= bio.summary.html_safe %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/right_third" %>