<div class="two_thirds">
  <div class="pushed_content">
    <h1>events archive</h1>

    <ul class="blocked">
    <% @events.each do |event| %>
      <li>
        <% if user_signed_in? %>
            <div class="pos_fr">
              <%= link_to edit_event_path(event) do %>
                <%= icon('edit', '', class: "pos_fr strong") %>
              <% end %>
            </div>
          <% end %>
        <span><%= event.date.strftime('%m.%d.%Y') %></span><br>
        <%= event.summary.html_safe %> <br>
        <%= event.location.html_safe %> 
        <% if user_signed_in? %>
          <div style="border: 1px solid #ddd; border-radius: 4px; padding: 1rem;">
            <h5>Internal info</h5>
            <em>Pay: <%= number_to_currency(event.pay / 100.0) %></em>
            <p>Notes: <%= event.notes %></p>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= render partial: "layouts/right_third" %>