<div class="two_thirds">
  <div class="pushed_content">
    <h1>events calendar</h1>

    <div id="calendar" data-url="<%= events_path %>"></div>


    <%= link_to "Add event", new_event_path if user_signed_in? %>
    <br><br>
    <h1>event list</h1>
    <ul class="blocked">
    <% @events.each do |event| %>
      <li>
        <span><%= event.date.strftime('%m.%d.%Y') %></span><br>
        <%= event.summary %> <br>
        <%= event.location %> 
        <% if user_signed_in? %>
    		<em>Pay: <%= event.pay.to_f / 100 %></em>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= render partial: "layouts/right_third" %>