<div class="two_thirds">
  <div class="pushed_content">
    <h1>send us a message</h1>

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <table class="contact_table"> 
        <tr>
          <td>* Name</td>
          <td><%= f.input :name, required: true, label: false %></td>
        </tr>
        <tr>
          <td>* Email</td>
          <td><%= f.input :email, required: true, label: false %></td>
        </tr>
        <tr>
          <td>* Message</td>
          <td><%= f.input :message, as: :text, required: true, label: false %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.button :submit, 'Send message', class: "btn btn-primary" %></td>
        </tr>
      </table>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/right_third" %>
