<div class="two_thirds">
  <div class="pushed_content">
    <h1>
      media gallery
      <% if user_signed_in? %>
        <%= link_to "New Event", new_media_event_path, class: "pseudo_button" %>
      <% end %>
    </h1>
    Please click on the thumbnails to view the larger version.

    <ul class="gallery">
    <% @media_events.all.each do |media_event| %>
      <li>
        <% if user_signed_in? %>
          <div class="pos_fr">
            <%= link_to 'Edit', edit_media_event_path(media_event) %>
          </div>
        <% end %>
        <span><%= media_event.event_date.strftime('%m.%d.%Y') %></span>
        <br>
        <%= media_event.summary %>
        <br><br>
        <div data-arc-swell="<%= media_event_url(media_event) %>"></div>
      </li>
    <% end %>  
    <div class="clear"></div>
    </ul>
  </div>
</div>
<%= render partial: "layouts/right_third" %>