<h1>Edit review</h1>

<%= simple_form_for @review do |form| %>
  <%= form.input :name %>
  <%= form.input :last_name %>
  <%= form.input :date %>
  <%= form.input :event %>
  <%= form.input :summary, as: :text %>

  <%= form.button :submit %>
<% end %>