<!DOCTYPE html>
<html>
<head>
  <title>Blackbird</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900,700,500,300italic,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="header">
      <div class="centered_content">
        <%= link_to root_path, id: "home_logo_link" do %>
          <%= image_tag 'blackbird_logo_grunge.png', class: "desktop_show" %>
          <%= image_tag 'mobile_logo1.png', class: "mobile_show" %>
        <% end %>

        <i id="nav_trigger" class="fa fa-bars mobile_show"></i>

        <ul id="nav_list">
          <li><%= link_to "samples", samples_path %></li>
          <li><%= link_to "bios", bios_path %></li>
          <li><%= link_to "songlist", songs_path %></li>
          <li><%= link_to "calendar", events_path %></li>
          <li>gallery</li>
          <li><%= link_to "reviews", reviews_path %></li>
          <li>contact us</li>
        </ul>
      </div>
    </section>
    <div class="clear"></div>
    <section id="content" class="<%= controller_name %>">
      <div class="centered_content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </section>
  <section id="footer">
    <div id="centered_content">
      <div class="user_widget">
        <%= render partial: "layouts/user_widget" %>
      </div>
      <div id="social_media">
        <ul class="inline">
          <li>
            <%= link_to "http://www.facebook.com/BlackbirdOregon", target: "_blank" do %>
              <%= icon('facebook') %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.youtube.com/BlackbirdOregon", target: "_blank" do %>
              <%= icon('youtube') %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.twitter.com/BlackbirdOregon", target: "_blank" do %>
              <%= icon('twitter') %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </section>

</body>
</html>
